body{display: flex;
    background-color: rgb(224, 216, 216);
    justify-content: center;
}
#signal{display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 17, 17);
    height: 600px;
    width: 300px;
}

#first{
    background-color: rgb(24, 51, 24);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0.5em;
}
#second{
    background-color: rgb(68, 68, 31);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0.5em;
}
.third{
    background-color: rgb(63, 28, 28);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0.5em;
}

button{
    margin: 1em;
    width: 50px;
    height: 50px;
    color: rgb(224, 216, 216);
    background-color: rgb(17, 12, 15);


}